@{
    ViewBag.Title = "Administrar roles de usuarios";
}

@Html.Partial("_MenuVertical")
<div class="col-lg-9 col-md-9 col-xs-11" id="contenido">
    <h2>Administrar roles de usuarios</h2>
    @Html.ActionLink("Crear nuevo rol", "Create") | @Html.ActionLink("Administrar roles de usuarios", "ManageUserRoles")
    <hr />
    <h3>Agregar rol a usuario</h3>
    @using (Html.BeginForm("RoleAddToUser", "Rol"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Username : @Html.TextBox("UserName")
            Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Seleccionar ...")
        </p>

            <input type="submit" value="Guardar" />
    }
    <hr />
    <h3>Obtener roles para un usuario</h3>
    @using (Html.BeginForm("GetRoles", "Rol"))
    {
        @Html.AntiForgeryToken()
        <p>
            Username : @Html.TextBox("UserName")
            <input type="submit" value="Obrener roles de este usuario" />
        </p>
    }
    @if (ViewBag.RolesForThisUser != null)
    {
        <div style="background-color:yellow;">
            <h3>Roles de este usuario</h3>
            <ol>
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li>@s</li>
                }
            </ol>
        </div>
    }
    <hr />
    <h3>Eliminar usuario de un rol</h3>
    @using (Html.BeginForm("DeleteRoleForUser", "Rol"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Username : @Html.TextBox("UserName")
            Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Seleccionar ...")
        </p>

            <input type="submit" value="Eliminar este usuario de este rol" />
    }
</div> 