@model GestionTallerDeMotos.ViewModels.ClienteViewModel
@{
    ViewBag.Title = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-10 col-md-9 col-xs-8" id="contenido">
    <h2>@Model.Titulo</h2>

    @using (Html.BeginForm("GuardarCliente", "Cliente"))
    {
        <div class="panel panel-default">
            <div class="panel-heading">@Model.Titulo</div>
            <div class="panel-body">
                <div class="row">
                    <h4>@Html.ValidationSummary(true, "¡Por favor solucione los siguientes errores!")</h4>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PersoneriaId)
                        @Html.DropDownListFor(m => m.PersoneriaId, new SelectList(Model.Personerias, "Id", "Descripcion"), "Seleccionar Personería", new { @class = "form-control", id = "personeriaId" })
                        @Html.ValidationMessageFor(m => m.PersoneriaId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nombre, new { id = "labelNombre"})
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Nombre del Cliente...", id = "inputNombre" })
                        @Html.ValidationMessageFor(m => m.Nombre)
                    </div>
                    <div class="form-group" id="apellido">
                        @Html.LabelFor(m => m.Apellido)
                        @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", placeholder = "Apellido del Cliente..." })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CorreoElectronico)
                        @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", placeholder = "Correo Electrónico..." })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Telefono)
                        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", placeholder = "Número de Teléfono..." })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.TipoDocumentoId)
                        @Html.DropDownListFor(m => m.TipoDocumentoId, new SelectList(Model.TiposDocumentos, "Id", "Descripcion"), "Seleccionar Tipo de Documento", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TipoDocumentoId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ValorDocumento)
                        @Html.TextBoxFor(m => m.ValorDocumento, new { @class = "form-control", placeholder = "Ingrese el Valor del Documento..." })
                        @Html.ValidationMessageFor(m => m.ValorDocumento)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Direccion)
                        @Html.TextAreaFor(m => m.Direccion, new { @class = "form-control", placeholder = "Dirección..." })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FechaDeNacimiento, new { id = "labelFecha"})
                        @Html.TextBoxFor(m => m.FechaDeNacimiento, new { @class = "form-control", placeholder = "Fecha de Nacimiento...", id = "inputFecha" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NombrePropietario)
                        @Html.TextBoxFor(m => m.NombrePropietario, new { @class = "form-control", placeholder = "Nombre del Propietario..." })
                    </div>
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    }
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#menuTaller").addClass('active');
            $("#menuCliente").addClass('active');

            var personeriaId = $("#personeriaId").val();

            CambiarFormulario(personeriaId);

            $("#personeriaId").change(function () {
                CambiarFormulario($(this).val());
            });

            function CambiarFormulario(id) {
                var personeriaId = id;
                console.log(personeriaId);
                if (personeriaId == 4) {
                    $("#apellido").hide();
                    $("#labelFecha").text("Fecha de Fundación");
                    $("#inputFecha").attr("placeholder", "Fecha de Fundación...");
                    $("#labelNombre").text("Institución o Empresa");
                    $("#inputNombre").attr("placeholder", "Nombre de la Institución o Empresa...");
                } else {
                    $("#apellido").show();
                    $("#labelFecha").text("Fecha de Nacimiento");
                    $("#inputFecha").attr("placeholder", "Fecha de Nacimiento...");
                    $("#labelNombre").text("Nombre");
                    $("#inputNombre").attr("placeholder", "Nombre del Cliente...");
                }
            }
        });
    </script>    
}